---
import "virtual:windi.css";
import Background from "../components/Background.astro";
import Overlayer from "../components/Overlayer.astro";
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>CrossAni</title>
</head>

<body class="text-light-200 bg-dark-50">
  <Overlayer class="h-screen overflow-hidden">
    <Background />

    <div id="overlay" class="z-100 self-center justify-self-center text-center p-6 bg-dark-100 rounded-xl max-w-80 shadow-xl">
      <h1 class="text-4xl font-bold mb-2">CrossAni</h1>
      <p>The absolutely tiny animation lib powered by CSS transitions</p>
    </div>
  </Overlayer>
</body>

</html>

<style>
  @supports (backdrop-filter: blur()) {
    #overlay {
      --tw-bg-opacity: .5;
      backdrop-filter: blur(5px);
    }
  }
</style>

<script>
  // HAHA this is almost certainly not the correct way to do it, fight me
  import "../client.js";
</script>