---
import "virtual:windi.css";
import Background from "../components/Background.astro";
import Overlayer from "../components/Overlayer.astro";
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>CrossAni</title>
</head>

<body class="text-light-200 bg-dark-50">
  <Overlayer class="h-120 overflow-hidden">
    <Background />
    <h1 class="z-1 self-center justify-self-center text-4xl font-bold">CrossAni</h1>
  </Overlayer>
</body>

</html>

<script>
  import "../client.js";
</script>