---
import BgCell from "./BgCell.astro";

const items = [];
const size = 40;

for (let y = 0; y < size; y++)
  for (let x = 0; x < size; x++)
    items.push([x, y]);
---

<div class="transform translate-x-[50%] -translate-y-[40rem] -ml-[50px]">
  {items.map(([x, y]) => <BgCell {...{ x, y}} />)}
</div>

<script define:vars={{items}}>
// quick! call the `window` abuse squad!
window.allTiles = items;
</script>

<script>
  import { EASE } from "crossani";

  function animateCell(x, y) {
    const elem = document.getElementById(`bg-cell-${x}-${y}`);

    elem.doTransition({
      state: { 
        "background-color": "#ec2a6a",
        "transform": "translateY(-20px) scaleY(.5) rotate(45deg)"
      },
      ms: 500,
      easing: EASE.ease
    });
    
    setTimeout(() => elem.doTransition({reset: true}));
  }

  window.handleBgCellClick = (x, y) => {
    console.log("rippling bg cell", x, y);

    animateCell(x, y);
  }
</script>